html {
    height: 100%;
    width: 100%;
}
body {
    overflow-y: auto;
}
.stripe {
    width: 20%;
    background-color: black;
    padding: 100px;
    padding-top: 100%;
    margin: auto;
    position: absolute;
    right: 33%;
    z-index: -1;
}
.content-main {
    z-index: 1;
}
.title {
    z-index: inherit;
    font-size: 120px;
    color: rgb(216, 205, 57);
    text-align: center;
    padding-bottom: 25px;
    background-color: black;
    font-family: 'Cinzel', serif;
    padding-top: 15px;
}
.subtext {
    font-family: 'Cardo', serif;
    font-size: 20px;
}
.subtitle {
    font-family: 'Cardo', serif;
    font-size: 32px;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.redacted {
    font-family: 'Redacted Script', cursive;
    font-size: 20px;
    text-align: center;
    color: black;
}
.mainlink {
    z-index: 1;
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.mainlink:hover {
    color: rgb(216, 205, 57);
}
.mainlink:visited {
    text-decoration: none;
}
.link {
    text-decoration: none;
    color: white;
    padding: 5px;
    padding-top: 20px;
    font-family: 'Cardo', serif;
    font-size: 20px;
}
.link:hover {
    color: black;
}
.link:visited {
    text-decoration: none;
}
.link2 {
    text-decoration: none;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 20px;
}
.link2:hover {
    color: black;
}
.link2:visited {
    text-decoration: none;
}
.box1 {
    z-index: 1;
    width: 500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(216, 205, 57);
    margin: auto;
    text-align: center;
}
.box2 {
    z-index: 1;
    width: 500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(216, 205, 57);
    margin: auto;
    text-align: left;
    display: grid;
}
.linksdiv {
    z-index: 1;
    width: 500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    text-align: center;
}
.button {
    background-color: black;
    color: white;
    font-family: 'Cardo', serif;
}
.button:hover {
    background-color: white;
    color: black;
}
input {
    padding-right: 200px;
}
#email {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
#name {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
#gpa {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
@media screen and (max-width: 600px) {
    html {
        height: 100%;
        width: 100%;
    }
    body {
        overflow-y: auto;
        background-color: black;
    }
    .title {
        z-index: inherit;
        font-size: 30px;
        color: rgb(216, 205, 57);
        padding-bottom: 25px;
        background-color: black;
        font-family: 'Cinzel', serif;
        padding-top: 15px;
        float: left;
    }
    .box1 {
        z-index: 1;
        width: 100%;
        background-color: rgb(216, 205, 57);
        text-align: left;
    }
    .box2 {
        z-index: 1;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: rgb(216, 205, 57);
        text-align: left;
    }
    input {
        width: 90%;
    }
    .mainlink {
        z-index: 1;
        color: white;
        font-size: 30px;
        text-align: center;
    }
    .stripe {
        visibility: hidden;
    }
    .linksdiv {
        z-index: 1;
        padding-top: 45px;
        padding-bottom: 25px;
        background-color: black;
        margin: auto;
        text-align: center;
        width: 100%;
    }
}
@media screen and (min-width: 800px) {
    html {
        height: 100%;
        width: 100%;
    }
    body {
        overflow-y: auto; 
    }
}
@media screen and (min-width: 1200px) {
    html {
        height: 100%;
        width: 100%;
    }
    body {
        overflow-y: auto;   
    }
}